body{
    font-family: 'Abel', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Livvic', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section-div{
    width: 80%;
    padding-left: 5%;
    margin-bottom: 15px;
}
.flexible-container{
    display: flex;
    padding-left: 5px;
}
.section-div img{
    width: 75%;
}
.royalblue-color{
    color: royalblue;
}
h1{
    font-weight: bold;
}
.section-div p{
    box-shadow: 10px 10px 50px royalblue;
    border-radius: 10px;
    padding: 10px;
}
.section-div p contact-id{
    font-weight: bold;
}
.anchortag-color{
    text-decoration: none;
    display: in;
    background-image:linear-gradient(royalblue, skyblue);
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
    margin: 8px;
}
.top-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
.mything{
    padding-left: 5%;
    margin-bottom: 15px;
}
.mything-area{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    box-shadow: 10px 10px 50px royalblue;
    border-radius: 10px;
    border-left: 10px solid;
}
#hobbies-id{
    border-left: 5px solid;
    border-image:linear-gradient(royalblue, skyblue);
    border-image-slice: 1;
}
#activity-id{
    border-left: 5px solid;
    border-image:linear-gradient(royalblue, skyblue);
    border-image-slice: 1;
}
#interest-id{
    border-left: 5px solid;
    border-image:linear-gradient(royalblue, skyblue);
    border-image-slice: 1;
}
.middle-banner{
    background-image: url(images/middle-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}
.tv-section{
    display: flex;
    padding-left: 5%;
}
.tv-section-area{
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
    box-shadow: 10px 10px 50px royalblue;
    border-radius: 10px;
    border-left: 10px solid;
}
.tv-section img{
    width: 75%;
}
#movie-id{
    border-left: 5px solid;
    border-right: 5px solid;
    border-image:linear-gradient(royalblue, skyblue);
    border-image-slice: 1;
}
#series-id{
    border-left: 5px solid;
    border-right: 5px solid;
    border-image:linear-gradient(royalblue, skyblue);
    border-image-slice: 1;
}
.last-banner{
    background-image: url(images/last-banner.png);
    background-position: right;
    background-repeat: no-repeat;
}
